
<h1>Results</h1>
<div class="flex">
  <p><%= @title %> is <%= @age_num %> years old.</p>
  <p>Your guess of <%= @guess_age%> was <%= @right_or_wrong %></p>
  <p><%= @end_text %></p>
  <a href="/">Go back</a>
</div>
